<div class="container__big-card">

    <div class="big-card__photo">
        <img
            src="adaga.jpg"
            alt="Adaga, coração e serpente."
            height="400px"
            width="500px"
        >
    </div>

    <div class="big-card__title">
        <h1>• 31.03.2022 •</h1>
    </div>

    <div class="big-card__description">
        <p>
            Um coração atravessado por uma adaga de ferro, envolto por uma serpente que se enrosca entre dor e renascimento.
            Feito à mão, esse desenho mistura símbolos clássicos para falar de vulnerabilidade, força e transformação — onde o corte fere, mas também revela.
        </p>
    </div>
</div>