<div class="container__big-card">

    <div class="big-card__photo">
        <img
            src="https://cdn.dribbble.com/userupload/15277200/file/original-d0fa2e2c69501ba42c7a85fb3913cf67.png?resize=752x&vertical=center"
            alt=""
            height="200px"
            width="300px"
        >
    </div>

    <div class="big-card__title">
        <h1>design bonito</h1>
    </div>

    <div class="big-card__description">
        <p>
            Bla bla bla bla bla blá Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum asperiores quibusdam et nulla deleniti repellat earum hic assumenda, corporis eveniet voluptatibus officiis fuga aspernatur saepe odit vero dolorum quasi aliquam!
        </p>
    </div>
</div>
