.container__big-card{
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: solid #fff 2px;
    width: 600px;
    height: 700px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.big-card__photo{
    margin-top: 25px;
    margin-left: 47px;
    margin-right: 47px;
}

.big-card__photo > img {
    border-radius: 10px;
}

.big-card__title > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    font-family: 'segoe UI';
    text-align: left;
    margin-left: 48px;
}

.big-card__description {
    margin-top: 0px;
    margin-left: 48px;
    margin-right: 25px;
    font-style: italic;
    color: #dddddd;
    text-align: left;
}