.container__small-card-one {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: solid #fff 2px;
    border-radius: 10px;
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: center;
    text-align: left;
    padding: 20px;
}

.img_card-one {
    flex-direction: row;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 47px;
    align-content: center;
}

.img_card-one > img {
    border-radius: 10px;
}

.teste_card-one {
    margin-top: 25px;
    margin-right: 10px;
    text-align: left;
    align-content: center;
    font-style: italic;
    font-size: 27px;
}