<div class="container__small-card-one">

    <div class="img_card-one">
        <img 
        src="rapaz.jpg" 
        alt="Rapaz misterioso."
        width="190px"
        height="190px"
        >
    </div>
    <div class="teste_card-one">
        <p>
            Desenho realista feito à mão retratando um rapaz de olhar atento por trás dos óculos, boné baixo e casaco que sobe até a boca,
            deixando só parte da expressão visível. O headphone no pescoço completa a cena, destacando uma presença quieta, quase anônima, 
            envolta em detalhes sutis.
        </p>
    </div>
</div>
