<div class="container__small-card-one">

    <div class="img_card-one">
        <img 
        src="https://cdn.dribbble.com/userupload/15277200/file/original-d0fa2e2c69501ba42c7a85fb3913cf67.png?resize=752x&vertical=center" 
        alt=""
        width="190px"
        height="190px"
        >
    </div>
    <div class="teste_card-one">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ipsum sapiente aliquam tempore magnam, officiis nam nostrum quae, quis a tempora doloribus mollitia sed eaque consequuntur accusantium eos odio blanditiis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non odit, possimus illum dolorem reiciendis modi atque officia cumque expedita consequuntur optio, officiis odio asperiores totam? Quisquam ipsum deserunt nobis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima possimus adipisci quidem reiciendis sunt saepe! Ex minus doloribus, asperiores nam officia praesentium ratione corporis amet autem laborum nihil debitis molestias?
        </p>
    </div>
</div>
