<div class="container__big-card">

    <div class="big-card__photo">
        <img
            src="caveira.jpg"
            alt="Caveira flutuante."
            height="400px"
            width="500px"
        >
    </div>

    <div class="big-card__title">
        <h1>• 01.10.2023 •</h1>
    </div>

    <div class="big-card__description">
        <p>
            Uma caveira flutuante de olhos vazios, mas cheia de atitude — vestindo um casaco roxo estiloso e curtindo o som com um fone preto.
            Nesse desenho digital, mistura-se o clima sombrio com uma pegada urbana e descolada.
        </p>
    </div>
</div>