<div class="container__big-card">

    <div class="big-card__photo">
        <img
            src="https://cdn.dribbble.com/userupload/15277200/file/original-d0fa2e2c69501ba42c7a85fb3913cf67.png?resize=752x&vertical=center"
            alt="Desenho de uma paisagem do artista Patryk Wojciechowicz"
            height="400px"
            width="500px"
        >
    </div>

    <div class="big-card__title">
        <h1>• design 2 •</h1>
    </div>

    <div class="big-card__description">
        <p>
            Bla bla bla bla bla blá Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum asperiores quibusdam et nulla deleniti repellat earum hic assumenda, corporis eveniet voluptatibus officiis fuga aspernatur saepe odit vero dolorum quasi aliquam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repellat quasi, totam et autem deserunt in officiis accusamus incidunt, quidem mollitia quos quae nemo illo at sunt aut. Quo, sed?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, facilis odio reiciendis omnis expedita ullam obcaecati, incidunt sapiente minus atque sunt corrupti veritatis consequuntur aperiam mollitia velit, distinctio debitis nulla!
        </p>
    </div>
</div>