.container__small-card-two {
    margin-top: 15px;
    border: solid #fff 2px;
    border-radius: 10px;
    width: 900px;
    height: 222px;
}

.img_card-three {
    margin-top: 25px;
    margin-left: 47px;
    margin-right: 47px;
}