<div class="container__small-card-two">

    <div class="img_card-two">
        <img 
        src="banshee.jpg" 
        alt="Banshee com poderes."
        width="190px"
        height="190px"
        >
    </div>

    <div class="teste_card-two">
        <p>
            Desenho feito à mão com caneta colorida, retratando uma figura feminina sem rosto, envolta por nove caudas. 
            O olho flutuante sobre sua mão representa um de seus poderes, misturando mistério e força.
        </p>
    </div>
</div>
