<div class="container__small-card-three">

    <div class="img_card-three">
        <img 
        src="https://cdn.dribbble.com/userupload/15277200/file/original-d0fa2e2c69501ba42c7a85fb3913cf67.png?resize=752x&vertical=center" 
        alt=""
        width="100px"
        height="100px"
        >
    </div>

    <div class="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima possimus adipisci quidem reiciendis sunt saepe! Ex minus doloribus, asperiores nam officia praesentium ratione corporis amet autem laborum nihil debitis molestias?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero libero, dicta distinctio, nisi error, accusantium sapiente cumque harum atque voluptatum facere veniam debitis nulla vel nostrum laudantium culpa obcaecati magni.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aut hic facere culpa veritatis odio ab cupiditate voluptatibus. Iste recusandae in nesciunt voluptate labore! Eos, labore sunt. Obcaecati, ipsum accusamus!
        </p>
    </div>
</div>
